@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap');

html {
    height: 95%;
    background-color: orangered;
}

body {
    height: 100%;
    margin: 20px;
    background-color: white;
}

.game {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

span {
    padding-left: 3px;
    padding-right: 3px;
    border: 1px solid red;
    border-radius: 50%;
    color: red;
}

.new_game {
    display: flex;
    justify-content: center;
    font-size: 1em;
}

.player {
    font-family: Montserrat, sans-serif;
    margin: 0 auto;
    width: 50%;
    display: flex;
    justify-content: space-between;
    font-size: 2em;
}

.dice {
    height: 100px;
}

.result {
    margin: 0 auto;
    width: 50%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.bottom {
    margin-bottom: 10%;
}

.scored {
    height: 50px;
    width: 70px;
    background: red;
    color: white;
    text-align: center;
}

.play {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

/*.scored p {
    display: inline-block;
    vertical-align: bottom;
    line-height: normal;
}*/